<!DOCTYPE html>
<html>
<head>
	<title>Abdush Shakoor's Blog</title>
	<base href="/"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Abdush Shakoor">
	<meta name="description" content="Writings about Computer Science, Mathematics, Software Engineering and lots of cool stuff.">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
	<main>
		<!-- Website header -->
		<header class="navbar">
			<a class="logo-link" href="/">
				<div class="header-logo">
					<img src="/static/images/avatar2.gif"/>
					<div class="logo-text">
						<p class="logo-title">mega<span class="trademark">color</span>boy</p>
						<p class="logo-subtitle">The blog of Abdush Shakoor</p>
					</div>
				</div>
			</a>
			<ul class="header-links">
				<li><a href="/">Writings</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="/about">About me</a></li>
			</ul>
		</header>
		<!-- Website header -->

		<h2 class="title">Writings about Computer Science, Mathematics, Software Engineering and lots of cool stuff.</h2>

		<div class="posts-grid">
			{% set card_colors = ['card-bg-red', 'card-bg-yellow', 'card-bg-blue', 'card-bg-green', 'card-bg-teal', 'card-bg-purple', 'card-bg-peach', 'card-bg-maroon', 'card-bg-darkblue', 'card-bg-orange', 'card-bg-greyblue'] %}
			{% set card_colors = card_colors|shuffle %}
			{% for post in posts %}
			{% set bg_color = card_colors[loop.index % card_colors|length ] %}
			<a href="posts/{{ post.slug }}/">
				<div class="posts-card {{ bg_color }}">
					<div class="pc-header">
						<div class="pc-head-img {{ bg_color }}"></div>
						<div class="pc-head-info">
							<div class="pc-head-author"><p>Abdush Shakoor<p></div>
							<div class="pc-head-datetime">{{ post.date }}</div>
						</div>
					</div>
					<div class="pc-body">
						<h4>{{ post.title }}</h4>
						<p>{{ post.summary }}</p>
					</div>
					<div class="pc-footer">
						<p>{{ post.category }}</p>
						<p><i class="fas fa-heart"></i> 20</p>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>

	</main>
</body>
</html>