<!DOCTYPE html>
<html>
<head>
	<title>Abdush Shakoor's Blog</title>
	<base href="/"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Abdush Shakoor">
	<meta name="description" content="Writings about Computer Science, Mathematics, Software Engineering and lots of cool stuff.">
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
	<main>
		<!-- Website header -->
		<header class="navbar">
			<a class="logo-link" href="/">
				<div class="header-logo">
					<img src="/static/images/avatar2.gif"/>
					<div class="logo-text">
						<p class="logo-title">mega<span class="trademark">color</span>boy</p>
						<p class="logo-subtitle">The blog of Abdush Shakoor</p>
					</div>
				</div>
			</a>
			<ul class="header-links">
				<li><a href="/">Writings</a></li>
				<!-- <li><a href="#">Projects</a></li> -->
				<li><a href="/about">About me</a></li>
			</ul>
		</header>
		<!-- Website header -->

		<h2 class="title">Writings about Computer Science, Mathematics, Software Engineering and lots of cool stuff.</h2>

		<div class="posts-grid">
			{% for post in posts %}
			<a href="posts/{{ post.slug }}/">
				<div class="posts-card {{ bg_color }}">
					<div class="pc-header">
						<div class="pc-head-info">
							<div class="pc-head-author"><p><i class="far fa-clock"></i> {{ post.date }}</p></div>
							<!-- <div class="clear-line {{ bg_color }}"></div> -->
						</div>
					</div>
					<div class="pc-body">
						<h4>{{ post.title }}</h4>
						<p>{{ post.summary }}</p>
					</div>
					<div class="pc-footer">
						<p>{{ post.category }}</p>
						<p>&rarr;</p>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>

	</main>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98290003-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98290003-2');
</script>

<script defer type='text/javascript'>
function rnd(min, max)
{
	return Math.floor(Math.random() * (max - min + 1) + min);
}

function rainbowCards(colorFreq)
{
	var cards = document.getElementsByClassName("posts-card");

	var color = 360/cards.length;

	for(var i=0; i<=cards.length; i++)
	{
		var h = (i)*(color/colorFreq);
		cards[i].style.backgroundColor = `hsl(` + h + `,80%, 60%)`;
		cards[i].style.textShadow = `0 1px 2px hsl(` + h + `,80%, 40%)`;
	}
}

rainbowCards(1);
</script>
</html>