<!DOCTYPE html>
<html>
<head>
	<title>Today I Learned | megacolorboy</title>
	<base href="/"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Abdush Shakoor">
	<meta name="description" content="This project is a collection of short write-ups on the things that I learn on a day-to-day basis across a variety of fields such as Computer Science, Mathematics, Software Engineering and Digital Design.">
	<link href="../static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" href="../static/css/til.css" type="text/css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/an-old-hope.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
	<!-- Website header -->
	<header class="navbar">
		<a class="logo-link" href="/til">
			<div class="header-logo">
				<img src="/static/images/avatar2.gif"/>
				<div class="logo-text">
					<p class="logo-title">mega<span class="trademark">color</span>boy</p>
					<p class="logo-subtitle">The microblog of Abdush Shakoor</p>
				</div>
			</div>
		</a>
	</header>

	<div class="_intro">
		<h1>Today I Learned</h1>

		<p>This project is a collection of short write-ups on the things that I learn on a day-to-day basis across a variety of fields such as Computer Science, Mathematics, Software Engineering and Digital Design.</p>
		<p>I consider this to be a microblog of sorts that can help me accumulate and share my knowledge with everyone! So far, I've published <strong>{{postcount}}</strong> short articles.</p>
		<p>Hope you enjoy learning along with me! &#x1F604;</p>

		<div class="_footer">
			<a class="twitter" href="https://twitter.com/MegaColorBoy">
				<i class="fab fa-twitter"></i> Follow on Twitter
			</a>
			<a class="github" href="https://github.com/MegaColorBoy">
				<i class="fab fa-github-alt"></i> Follow on GitHub
			</a>
			<a class="mail" href="/">
				<i class="fas fa-home"></i> Visit my blog
			</a>
		</div>
	</div>

	<div class="searchbox">
		
		<p class="tip">Hit <b>"Enter"</b> to return search results</p>
		<div style="position: relative;">
			<i class="fas fa-search"></i>
			<input id="searchinput" type="text" placeholder="Search for articles by keyword or category" />
			<span id="closeSearch"><i class="fas fa-times"></i></span>
		</div>
		<div class="loader"></div>
		<div id="searchresults" class="searchresults">
			<ul></ul>
		</div>

	</div>

	<main>
		<div class="_til-grid">
			{% for post in posts %}
				<div class="_item">
					<div class="_wrapper">					
						<div class="_heading">
							<p class="tag"><span>{{ post['category'] }}</span></p>
							<a href="til/posts/{{post['slug']}}">
								<h1>{{ post['title'] }}</h1>
							</a>
							<div>
								<p class="_date">Published on {{ post['date'] }}</p>
							</div>
						</div>
						<hr/>
						<div class="_content">
							{{ post['content'] }}
							<hr/>
							<div class="_footer">
								
								<div class="share-container">
									<p>Like this? Share it with others!</p>
									<div class="share-links">
										<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.megacolorboy.com/til/posts/{{ post['slug'] }}/"><i class="fab fa-facebook-f"></i></a>
										<a href="https://www.twitter.com/home?status=https://www.megacolorboy.com/til/posts/{{ post['slug'] }}/"><i class="fab fa-twitter"></i></a>
										<a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.megacolorboy.com/til/posts/{{ post['slug'] }}/&title={{ post['title'] }} | megacolorboy&summary=&source="><i class="fab fa-linkedin-in"></i></a>
										<a href="https://www.plus.google.com/share?url=https://www.megacolorboy.com/til/posts/{{ post['slug'] }}/"><i class="fab fa-google-plus-g"></i></a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			{% endfor %}
		</div>

	</main>
</body>

<script defer src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="/static/js/search.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98290003-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98290003-2');
</script>
</html>
